# General messing about file to get used to pandas etc

In [167]:
import pandas as pd
import numpy as np
import math as m

# Playing about and testing rules in pandas

**Setting up the dataframe**

to the side are labels and along the top are columns which are properties of these labels

In [168]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 4], [7, 8, 2], [9, 1, 9]],
     index=['cobra', 'viper', 'sidewinder', 'raptor'],
     columns=['max_speed', 'shield', 'attack'])


indexx=['cobra', 'viper', 'sidewinder', 'raptor']
columns=['max_speed', 'shield', 'attack']
df

            max_speed  shield  attack
cobra               1       2       3
viper               4       5       4
sidewinder          7       8       2
raptor              9       1       9

*below is all about getting values from the table*

**Note the dataframe setup uses numbers as indexes which may be tricky**

In [169]:
df.loc[:,'attack'][0:]

cobra         3
viper         4
sidewinder    2
raptor        9
Name: attack, dtype: int64

In [170]:
for i in range(len(df)):
    print(df.iloc[i])

max_speed    1
shield       2
attack       3
Name: cobra, dtype: int64
max_speed    4
shield       5
attack       4
Name: viper, dtype: int64
max_speed    7
shield       8
attack       2
Name: sidewinder, dtype: int64
max_speed    9
shield       1
attack       9
Name: raptor, dtype: int64

In [171]:

df.iloc[0,0:len(df)]

max_speed    1
shield       2
attack       3
Name: cobra, dtype: int64

In [172]:
for i in indexx:
    print(df.loc[i])
# this is returning a 'series'

max_speed    1
shield       2
attack       3
Name: cobra, dtype: int64
max_speed    4
shield       5
attack       4
Name: viper, dtype: int64
max_speed    7
shield       8
attack       2
Name: sidewinder, dtype: int64
max_speed    9
shield       1
attack       9
Name: raptor, dtype: int64

In [173]:
df.loc[['viper', 'raptor']]

        max_speed  shield  attack
viper           4       5       4
raptor          9       1       9

In [174]:
df.loc['cobra', ['attack', 'shield']]

attack    3
shield    2
Name: cobra, dtype: int64

In [175]:
df.loc['cobra':'raptor', 'max_speed']
#note start and end of slice included

cobra         1
viper         4
sidewinder    7
raptor        9
Name: max_speed, dtype: int64

In [176]:
df.loc[[False, False, True, True]]
# No idea how this works but not used in prgram :/

            max_speed  shield  attack
sidewinder          7       8       2
raptor              9       1       9

Below is an often used indexing method in the program

In [177]:
df.loc[pd.Index(["cobra", "viper"], name = float("Nan"))]

       max_speed  shield  attack
nan
cobra          1       2       3
viper          4       5       4

In [178]:
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield  attack
sidewinder          7       8       2

In [179]:
#Conditional returning series! - very usefull in code when it comes to breakthrough times etc
First_series = df.loc[df['shield'] > 1]
print(First_series)
First_series.loc[First_series['max_speed'] < 5]

            max_speed  shield  attack
cobra               1       2       3
viper               4       5       4
sidewinder          7       8       2

       max_speed  shield  attack
cobra          1       2       3
viper          4       5       4

**Now going into setting values in the df**

In [180]:
df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield  attack
cobra               1       2       3
viper               4      50       4
sidewinder          7      50       2
raptor              9       1       9

In [181]:
#set values for an entire row. indexing can be used here too
df.loc['cobra':'sidewinder'] *= 10
df.loc['cobra':'sidewinder'] /= 10
df.loc['cobra':'sidewinder'] += 10
df.loc['cobra':'sidewinder'] -= 10
df.loc['cobra':'sidewinder'] = 10
df_limited = df.loc['cobra':'viper']
df_limited
df

            max_speed  shield  attack
cobra            10.0    10.0    10.0
viper            10.0    10.0    10.0
sidewinder       10.0    10.0    10.0
raptor            9.0     1.0     9.0

In [182]:
# set value for an entire column. indexing here too
df.loc[:, 'max_speed':'shield'] *= 30
df.loc[:, 'max_speed':'shield'] /= 30
df.loc[:, 'max_speed':'shield'] += 30
df.loc[:, 'max_speed':'shield'] -= 30
df.loc['viper', 'max_speed':'shield'] = 25
df['Upgraded shield'] = df['shield']*1.5
df
#df.loc[:, 'upgraded shield'] = df.loc[:, 'upgraded shield']*1.5

            max_speed  shield  attack  Upgraded shield
cobra            10.0    10.0    10.0             15.0
viper            25.0    25.0    10.0             37.5
sidewinder       10.0    10.0    10.0             15.0
raptor            9.0     1.0     9.0              1.5

In [183]:
# Set value for rows matching callable condition. Again could be usefull in terms of breakthrough time etc
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield  attack  Upgraded shield
cobra            10.0    10.0    10.0             15.0
viper            25.0    25.0    10.0             37.5
sidewinder       10.0    10.0    10.0             15.0
raptor            9.0     1.0     9.0              1.5

This cell adds another row containing the max values for each index

In [189]:

columns.append('Ultimo')
top = df.max()
top.name = 'ultimo'
df.append(top)

            max_speed  shield  attack  Upgraded shield
cobra            10.0    10.0    10.0             15.0
viper            25.0    25.0    10.0             37.5
sidewinder       10.0    10.0    10.0             15.0
raptor            9.0     1.0     9.0              1.5
ultimo           25.0    25.0    10.0             37.5

**Very important! Getting values on  DF with an index that has integer labels**

In [185]:

df_bad = pd.DataFrame([[1, 2], [4, 5], [7, 8], [9, 9]],
     index=[7, 3,7, 9], columns=['max_speed', 'shield'])

df_good = pd.DataFrame([[1, 2], [4, 5], [7, 8], [9, 9]],
     index=[7, 3,6, 9], columns=['max_speed', 'shield'])
df_good

   max_speed  shield
7          1       2
3          4       5
6          7       8
9          9       9

Note the numerical indexes are basically just in place of strings
Reapeat indexes will cause problems! for example as shown above an error will be raised when trying to index

In [186]:

#df_bad.loc[7:] and df_bad[:7] will bothraise an error due to repeat indexes
df_good.loc[3:9]

   max_speed  shield
3          4       5
6          7       8
9          9       9

End of .loc coverage for pandas